/** Rado Buttons**/
.radioButtons{
    display: flex;
    flex-direction: row;
    //padding: 0 5px 5px 0;
    //sflex-direction: column;
}
.button{
    font-family: $primaryFont;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $primaryColor;
    border: 1px $primaryColor solid;
    border-radius: 0.25em;
    padding: 0.625em 1.5625em;
    &:active, &:focus, &:hover{
        outline: none;
        background-color: darken($color: $primaryColor, $amount: 5);
        border-color: darken($color: $primaryColor, $amount: 5);
        cursor: pointer;
    }
    &.block{
        display: block;
        width: 100%;
    }
}
.align-end{
    align-items: flex-end;
}
.bodyContent{
    height: 100%;
    min-height: 500px;
    background-color: $backgroundColor;
}